body{
    font-family: Arial, Helvetica, sans-serif;
}
.navlinks{
    padding:5px;
    display:flex;
    align-items: center;
    background-color: blueviolet;
    border-radius: 15px;
    width: fit-content;
    height: 45px;
    color: white;
}
#random-image{
    margin-top: 5px;
    border-radius: 150px;
    height:60px;
    width: 70px;
    margin-left: auto;
    right: 0px;
}
.links{
    color:white;
    margin-left: 10px;
    text-decoration:none;
    
}
.maincontainer{
    margin-left: 30%;
    margin-right: 30%;
}
.navcontainer{
color: white;
display: flex;
align-items: center;
gap: 10px;
border-radius: 25px;
background: #4621ad;
padding: 20px;
width: 750px;
height: 30px;
}
.footercontainer{
    background-color: gray;
    position: absolute;
    margin-top: auto;
    border-radius: 25px;
    bottom:0px;
    width: 750px;
    padding:5px;
    margin-bottom:1%;
}
#name-date-text{
    margin-left: 15px;
}

.subject-picture{
    height: 250px;
    width: auto;
}

.formnavcontainer{
    display:flex;
    gap: 10px
}